<footer class="nav m-0 pt-3">
    <div class="social-media text-center">
    <a href="https://www.facebook.com/"><i class="fa-brands fa-square-facebook fa-xl"></i></a>
    <a href="https://www.instagram.com/"><i class="fa-brands fa-square-instagram fa-xl"></i></a>
    <a href="https://www.linkedin.com/"><i class="fa-brands fa-linkedin fa-xl"></i></a>
    <a href="https://www.twitter.com/"><i class="fa-brands fa-square-twitter fa-xl"></i></a>
    <a href="https://www.youtube.com/"><i class="fa-brands fa-youtube fa-xl"></i></a>
  </div>
  <div>
    <ul class="nav">
        <li class="nav-item m-2"><a href="index" data-lan="home">Home</a></li>
        <li class="nav-item m-2"><a href="index#export" data-lan="export">Export</a></li>
        <li class="nav-item m-2"><a href="media" data-lan="media">Media</a></li>
        <li class="nav-item m-2"><a href="careers" data-lan="careers">Careers</a></li>
        <li class="nav-item m-2"><a href="contactUs" data-lan="contactus">Contact Us</a></li>
        <li class="nav-item m-2"><a href="#">العربية</a></li>
    </ul>
  </div>
  <div class="row text-center"><p>&copy; 2023 Goodies Egypt</p></div>
  </footer>