<header>
    <div class="container-fluid">
        <div class="row" style="--bs-gutter-x:0;">
            <nav class="navbar navbar-expand-xl ">
                <div class="container-fluid" style="width: 85%;">
                  <a class="navbar-brand fs-4" href="index">
                    <img class="logo-img" src="assets/images/goodies-logo.svg" alt="Goodies Logo">
                  </a>
                  <!-- Toggle Button -->
                  <button class="navbar-toggler shadow-none border-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                    <span class="menu-button bx bx-menu"></span>
                  </button>
                  <!-- SideBar -->
                  <div class="sidebar offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                    <div class="offcanvas-header border-bottom">
                      <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Goodies Egypt</h5>
                      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                      <ul class="navbar-nav justify-content-end flex-grow-1 pe-3 fs-5">
                        <li class="nav-item mx-4">
                          <a class="nav-link active" aria-current="page" href="../home-page" data-lan="home">Home</a>
                        </li>
                        <li class="nav-item dropdown mx-4">
                          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" data-lan="aboutus">
                            About Us
                          </a>
                          <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="index#story" data-lan="ourstory">Our story</a></li>
                            <li><a class="dropdown-item" href="index#mission" data-lan="mission">Mission</a></li>
                            <li><a class="dropdown-item" href="index#vision" data-lan="vision">Vision</a></li>
                          </ul>
                        </li>
                        <li class="nav-item mx-4"><a class="nav-link" href="index#export" data-lan="export">Export</a></li>
                        <!-- <li class="nav-item mx-4"><a class="nav-link" href="media.html" data-lan="media">Media</a></li> -->
                        <li class="nav-item mx-4"><a class="nav-link" href="forms-careers" data-lan="careers">Careers</a></li>
                        <li class="nav-item mx-4"><a class="nav-link" href="forms-contactus" data-lan="contactus">Contact Us</a></li>
                        <li class="nav-item mx-4">
                            <select id="lanselect">
                                <option value="en" data-lan="english" selected>English</option>
                                <option value="ar" data-lan="arabic">Arabic</option>
                            </select>
                        </li>   
                      </ul>
                    </div>
                  </div>
                </div>
            </nav>
        </div>
    </div>
  </header>