<nav id="sidebar">
    <div class="sidebar-header">
        <h3>
            <img src="assets/images/goodies-logo.svg" class="img-fluid" /><span>Goodies Egypt</span>
        </h3>
    </div>
    <ul class="list-unstyled components">
        <li>
            <a href="dashboard" class="dashboard"><i class="material-icons">dashboard</i> <span>Dashboard</span></a>
        </li>

        <li class="dropdown">
            <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">border_color</i><span>forms</span></a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu5">
                <li>
                    <a href="forms-contactus">
                       <span>Contact Us</span></a>
                </li>
                <li>
                    <a href="forms-careers">Careers</a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">content_copy</i><span>Pages</span></a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu7">
                <li  class="">
                    <a href="home-page">Home Page</a>
                </li>
            </ul>
        </li>
        <!-- <li>
            <a href="users" class="dashboard"><i class="material-icons">group</i> <span>Users</span></a>
        </li> -->
        <li class="dropdown">
            <a href="#pageSubmenu8" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons">group</i><span>Users</span></a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu8">
                <li>
                    <a href="usersadd" class=""><span>Add User</span></a>
                </li>
                <li>
                    <a href="usersremove" class=""><span>Delete User</span></a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#pageSubmenu9" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons"><span class="material-symbols-outlined">
                    photo_library
                    </span></i><span>Carousel</span></a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu9">
                <li>
                    <a href="addcarousel" class=""><span>Add Image</span></a>
                </li>
                <li>
                    <a href="deletecarousel" class=""><span>Delete Image</span></a>
                </li>
            </ul>
        </li>

        <li class="dropdown">
            <a href="#pageSubmenu10" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                <i class="material-icons"><span class="material-symbols-outlined">
                    store
                    </span></i><span>Our Brands</span></a>
            <ul class="collapse list-unstyled menu" id="pageSubmenu10">
                <li>
                    <a href="addbrand" class=""><span>Add Brand</span></a>
                </li>
                <li>
                    <a href="deletebrand" class=""><span>Delete Brand</span></a>
                </li>
            </ul>
        </li>

        <li>
            <a href="navbarcontrol" class=""><i class="material-icons">dns</i> <span>Navbar Control</span></a>
        </li>
        <li>
            <a href="socialmedialinks" class=""><i class="material-icons">public</i> <span>Social Media Links</span></a>
        </li>
    </ul>
</nav>