<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1" />
    <title>crud dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css" />
    <!----css3---->
    <link rel="stylesheet" href="css/custom.css" />

    <!--google fonts -->

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet" />

    <!--google material icon-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Icons" rel="stylesheet" />

     <link rel="stylesheet" href="assets/style/sass.css">
     <link rel="stylesheet" href="assets/style/style.css">
     <link rel="stylesheet" href="assets/style/carousel.css">
 
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
 
     <link rel="icon" type="image/png" href="assets/images/goodies-logo.svg" />
     <link rel="preconnect" href="https://fonts.googleapis.com">
     <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
     <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
     <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
     <script src="https://kit.fontawesome.com/84089d0d98.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="wrapper">

        <div class="body-overlay"></div>
        <!-------------------------sidebar------------>
        <div style="direction: ltr;">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>
                    <img src="assets/images/goodies-logo.svg" class="img-fluid" /><span>Goodies Egypt</span>
                </h3>
            </div>
            <ul class="list-unstyled components">
                <li>
                    <a href="dashboard" class="dashboard"><i class="material-icons">dashboard</i> <span>Dashboard</span></a>
                </li>

                <li class="dropdown">
                    <a href="#pageSubmenu5" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">border_color</i><span>forms</span></a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu5">
                        <li>
                            <a href="forms-contactus">Contact Us</a>
                        </li>
                        <li>
                            <a href="forms-careers">Careers</a>
                        </li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#pageSubmenu7" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="material-icons">content_copy</i><span>Pages</span></a>
                    <ul class="collapse list-unstyled menu" id="pageSubmenu7">
                        <li  class="">
                            <a href="home-page">Home Page</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        </div>
        <!--------page-content---------------->

        <div id="content">
            <!--top--navbar----design--------->
            <div style="direction: ltr;">

            <div class="top-navbar">
                <div class="xp-topbar">
                    <!-- Start XP Row -->
                    <div class="row">
                        <!-- Start XP Col -->
                        <div class="col-2 col-md-1 col-lg-1 order-2 order-md-1 align-self-center">
                            <div class="xp-menubar">
                                <span class="material-icons text-white">signal_cellular_alt
                                </span>
                            </div>
                        </div>
                        <!-- End XP Col -->

                        <!-- Start XP Col -->
                        <div class="col-md-5 col-lg-3 order-3 order-md-2">
                          
                        </div>
                        <!-- End XP Col -->

                        <!-- Start XP Col -->
                        <div class="col-10 col-md-6 col-lg-8 order-1 order-md-3">
                            
                        </div>
                        <!-- End XP Col -->
                    </div>
                    <!-- End XP Row -->
                </div>
                    <div class="xp-breadcrumbbar text-center mb-4  " >
                        <h4 class="page-title">Dashboard</h4>
                    </div>
                
            </div>
            </div>
            <!--------main-content------------->
            <main style="height: 100vh;">
                <div class="main-content">
                    <div class="row "style="text-align: center;">
                       <div class="col-md-12">
                          <h1>Welcome</h1>
                          <a href="index"><button type="button" class="btn btn-success">Go To Goodies.com</button></a>
                       </div>
                       
                       
                                          <!----add-modal start--------->

                          
                       				 <!----delete-modal start--------->
	
                       
                    
                    </div>
                 </div>
             
               <!------main-content-end-----------> 
            </main>
             

            <footer class="footer" style="width: 100%;">
                <div class="container-fluid">
                    <div class="footer-in" >
                        <p class="mb-0"  >
                            &copy 2023 Goodies Egypt - All Rights Reserved.
                        </p>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!----------html code compleate----------->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="js/jquery-3.3.1.slim.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery-3.3.1.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $(".xp-menubar").on("click", function () {
                $("#sidebar").toggleClass("active");
                $("#content").toggleClass("active");
            });

            $(".xp-menubar,.body-overlay").on("click", function () {
                $("#sidebar,.body-overlay").toggleClass("show-nav");
            });
        });
    </script>
    <script>
        var button=document.getElementById("viewdata");
        var element=document.getElementById("contactusdatarow");
        button.addEventListener("click",()=>{
            toggleit(element);
        });
        function toggleit(element){
            var x=element;
            x.classList.toggle("showrow");
        };
    </script>

</body>

</html>